<h1>ngFor</h1>
<input type="text" required [(ngModel)]="newName"  >

<button (click)="addName()" >add name</button>
<ul>
  <li *ngIf="names.length === 0" >no hay nombres</li>
  <li *ngFor="let name of names; index as i"> {{i}} {{name}}
    <button (click)="deleteName(i)">delete</button>
  </li>
</ul>

<hr>

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name"  >

<p *ngIf="person.name === 'carlos'">soy carlos</p>
<p *ngIf="person.name === 'alfonso' && person.age === 18; else elseBlock">soy alfonso</p>

<ng-template #elseBlock>
  <p>bloque de else</p>
</ng-template>

<hr>

<h1>NgModel</h1>

<p>Nombre {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"  >
<p>valid: {{nameInput.valid }}</p>

<p>Age {{person.age}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age"  >
<p>valid: {{ageInput.valid }}</p>


<hr>

<h1>eventos</h1>
<button [disabled]="btnDisabled" >boton</button>
<button (click)="toggleButton()">Toggle button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Edad ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Velit, vero ipsam fugiat ab cupiditate voluptates nihil suscipit laborum nemo molestias et exercitationem
    dolore dolor veritatis. Sequi pariatur exercitationem est fugit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Illo dolor inventore id aliquam ducimus explicabo qui quas reiciendis.
    Reiciendis suscipit dolor assumenda natus temporibus fugit est, corporis aperiam beatae eum.
  </p>
</div>
<p>Nombre {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" >


<hr />
<h1>Propiedades</h1>
<button [disabled]="btnDisabled" >boton</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" alt="image" width="100">

<hr/>
<h1>hola mundo</h1>
<h2>{{'hola mundo'.repeat(5)}}</h2>
<p>{{3+3}}</p>
<h3>hola, soy {{ name}} y tengo {{age}}</h3>
<img src={{img}} alt="image" width="500">
